{
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always"
}
